{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Calculadora de Descontos</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h1 class="mb-4">Calculadora de Descontos</h1>
			<form method="post">
				{% csrf_token %}
				<div class="form-group">
					<label for="consumption_0">Consumo Mês 1 (em kWh):</label>
					<input type="number" step="0.01" min="0" id="consumption_0" name="consumption_0" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="consumption_1">Consumo Mês 2 (em kWh):</label>
					<input type="number" step="0.01" min="0" id="consumption_1" name="consumption_1" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="consumption_2">Consumo Mês 3 (em kWh):</label>
					<input type="number" step="0.01" min="0" id="consumption_2" name="consumption_2" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="distributor_tax">Imposto Distribuidora (em %):</label>
					<input type="number" step="0.01" min="0" max="100" id="distributor_tax" name="distributor_tax" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="tax_type">Tipo de Taxa:</label>
					<select name="tax_type" id="tax_type" class="form-control" required>
						<option value="">Selecione o tipo de taxa</option>
						<option value="residencial">Residencial</option>
						<option value="comercial">Comercial</option>
						<option value="industrial">Industrial</option>
					</select>
				</div>
				<button type="submit" class="btn btn-primary">Calcular Desconto</button>
			</form>
		</div>
	</div>
</div>

</body>
</html>
