<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Calculadora de Economia de Energia</title>
    <link rel="stylesheet" type="text/css" href="{% static 'calculadora/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Calculadora de Economia de Energia</h1>
        <form method="post" action="{% url 'resultado' %}">
            {% csrf_token %}
            <div class="input-container">
                <label for="consumption-1">Consumo mês 1 (kWh):</label>
                <input type="number" step="0.01" min="0" name="consumption-1" id="consumption-1" required>
            </div>
            <div class="input-container">
                <label for="consumption-2">Consumo mês 2 (kWh):</label>
                <input type="number" step="0.01" min="0" name="consumption-2" id="consumption-2" required>
            </div>
            <div class="input-container">
                <label for="consumption-3">Consumo mês 3 (kWh):</label>
                <input type="number" step="0.01" min="0" name="consumption-3" id="consumption-3" required>
            </div>
            <div class="input-container">
                <label for="distributor-tax">Tarifa da distribuidora (R$/kWh):</label>
                <input type="number" step="0.0001" min="0" name="distributor-tax" id="distributor-tax" required>
            </div>
            <div class="input-container">
                <label for="tax-type">Tipo de tarifa:</label>
                <select name="tax-type" id="tax-type" required>
                    <option value="">Selecione uma opção</option>
                    <option value="Residencial">Residencial</option>
                    <option value="Comercial">Comercial</option>
                    <option value="Industrial">Industrial</option>
                </select>
            </div>
            <button type="submit" class="btn-calcular">Calcular</button>
        </form>
    </div>
</body>
</html>
